body {
    background-color: black;
}

.wd-thinborder {
    border-width: 1px 1px 1px 1px;
}

.wd-solid {
    border-style: solid;
}

.wd-greyborder {
    border-color: grey;
}

.wd-margin {
    color: white;
    padding-left: 16px;
    padding-top: 12px;
}

wd-divA-p {
    color: white;
    font-size: 20px;
    line-height: 2px;
}

.wd-divA-small {
    color: lightgray;
    font-size: 13px;
    position: relative;
    bottom: 16px;
    padding-bottom: 0px;
}

.fa-ellipsis-h {
    color: grey;
    float: right;
    padding-right: 16px;
}

.wd-divB-img{
    float: left;
    border-radius: 48px;
    height: 30px;
    width: 30px;
    position: relative;
}

.wd-divD-text{
    color: white;
    margin-left: 50px;
    width: 506px;
    font-size: 15px;
}

.wd-divC-author{
    display: inline;
    color: white;
    padding-left: 20px;
    font-size: 15px;
}
.wd-divC-handle{
    display: inline;
    color: lightgray;
    font-size: 15px;
}
.wd-divE-img {
    float:right;
    height:50%;
}

wd-divE-text {
    color:black;
}
